G/G0.gml
G/G1.gml
G/G2.gml
G/G3.gml
G/G4.gml
G/G5.gml
G/G6.gml
G/G7.gml
G/G8.gml
G/G9.gml
G/G10.gml
R/R0.txt
R/R1.txt
R/R2.txt
R/R3.txt
R/R4.txt
R/R5.txt
R/R6.txt
R/R7.txt
R/R8.txt
R/R9.txt
Plot/.RData
Plot/.Rhistory
Plot/comm_plot.nb.html
Plot/comm_plot.Rmd
Plot/G0.png
Plot/G2.png
Plot/G3.png
Plot/G6.png
Plot/Plot.Rproj
Plot/.Rproj.user/3E2F79D4/persistent-state
Plot/.Rproj.user/3E2F79D4/rmd-outputs
Plot/.Rproj.user/3E2F79D4/saved_source_markers
Plot/.Rproj.user/3E2F79D4/console06/INDEX001
Plot/.Rproj.user/3E2F79D4/pcs/debug-breakpoints.pper
Plot/.Rproj.user/3E2F79D4/pcs/files-pane.pper
Plot/.Rproj.user/3E2F79D4/pcs/source-pane.pper
Plot/.Rproj.user/3E2F79D4/pcs/windowlayoutstate.pper
Plot/.Rproj.user/3E2F79D4/pcs/workbench-pane.pper
Plot/.Rproj.user/3E2F79D4/sources/prop/4F1C1CCB
Plot/.Rproj.user/3E2F79D4/sources/prop/INDEX
Plot/.Rproj.user/3E2F79D4/sources/s-726C8A7/B5FF6F31
Plot/.Rproj.user/3E2F79D4/sources/s-726C8A7/B5FF6F31-contents
Plot/.Rproj.user/3E2F79D4/sources/s-726C8A7/lock_file
Plot/.Rproj.user/3E2F79D4/sources/s-BA06C9A0/51AD3F62
Plot/.Rproj.user/3E2F79D4/sources/s-BA06C9A0/51AD3F62-contents
Plot/.Rproj.user/3E2F79D4/sources/s-BA06C9A0/589193E1-contents
Plot/.Rproj.user/3E2F79D4/sources/s-BA06C9A0/A79A4873-contents
Plot/.Rproj.user/3E2F79D4/sources/s-BA06C9A0/B831BA83-contents
Plot/.Rproj.user/3E2F79D4/sources/s-BA06C9A0/lock_file
Plot/.Rproj.user/shared/notebooks/patch-chunk-names
Plot/.Rproj.user/shared/notebooks/paths
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4726C8A7/chunks.json
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4726C8A7/csw7zbselz4r8/000002.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4A4EB6466/chunks.json
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4B425C15B/chunks.json
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4BA06C9A0/chunks.json
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4BA06C9A0/c51v4xokgozh4/000062.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/3E2F79D4BA06C9A0/c51v4xokgozh4/000064.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/chunks.json
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/c51v4xokgozh4/000030.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/c51v4xokgozh4/000032.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/00001a.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000014.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000015.metadata
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000015.png
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000015.snapshot
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000016.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000018.csv
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000019.metadata
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000019.png
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/cnthw6ui28lzr/000019.snapshot
Plot/.Rproj.user/shared/notebooks/1DAE249C-comm_plot/1/s/csw7zbselz4r8/000002.csv
multi-level.zip
trace.csv
.vscode/settings.json
